body {
	height: 500vw;
	width: 500vw; 
	background-color: black;
	font-family: helvetica;
	margin-left: 40px;

}

html {
  scroll-behavior: smooth;
}

h1 {
	font-size: 25px; 
	margin-top: 45px;
	color: white;	
}

h2 {
	font-size: 20px; 
	margin-top: 10px;
	color: white;	

}

p {
	color: white;
}

a:link {
  color: white;
}

a:visited {
  color: slategrey;
}

a:hover {
  color: cornflowerblue;
}

#music {
	position: absolute;
 	top: 100vw;
	left: 250vw;
	border: 3px solid #73AD21;
	z-index: 1;
}

.mouseDownBox {
    position: absolute;
    left: -10%;
    top: 15%;
    /*height: 200px;*/
    z-index: 1;
    color: white;
    background-color: black;
    padding: 0vh 40vw 29vh 35vw;;

}

.mouseDownBox > img {
	height: 500px;
	background-color: black; 
}

.menu-heading-container {
    position: fixed;
    z-index: 3;
}

.center {
	/*left: 15vh;
    padding: 10vh 10vw 10vh 30vw;*/
	padding: 30vh 40vw 29vh 35vw;
}

#food {
	position: absolute;
 	top: 100vw;
	left: 400vw;
	width: 200px;
	height: 200px;
	border: 3px solid #73AD21;
}

#roof {
	position: absolute;
 	top: 200vw;
	left: 20vw;
	width: 200px;
	height: 200px;
	border: 3px solid #73AD21;
}

#walks {
	position: absolute;
 	top: 300vw;
	right: 30vw;
	width: 200px;
	height: 200px;
	border: 3px solid #73AD21;
}