body {
	font-family: helvetica; 
	text-align: left;
	margin-left: 40px;
	width: 40%; 
	font-size: .75em;
}

a:link {
  color: black;
}

a:visited {
  color: slategrey;
}

a:hover {
  color: cornflowerblue;
}

img {
	height: 500px;
   left: 50%;
   margin-top: -250px;
   margin-left: -250px;
   position: absolute;
   top: 50%;
   width: 500px;
}